html
{
	font-family: Arial;
	font-size: 2.5vh;
}

body
{
	background: #480c0c;
}

*
{
	image-rendering: pixelated;
}

#c
{
	width: 640px;
	height: 400px;
	margin: auto;
}


#player
{
  width: 48px;
  height: 72px;
  transition: transform 0.1s;
  z-index: 1000;
}

#sprite1
{
  width: 48px;
  height: 72px;
}

#grabbed
{
  position: relative;
  top: -44px;
  left: 4px;
}

#a
{
  width: 40px;
  height: 24px;
}

.dust
{
  width: 16px;
  height: 16px;
  animation: dust1 0.4s;
  position: absolute;
}

@keyframes dust1
{
  0% { opacity: 1; transform: scale(0.5) rotate(-35deg); }
  100% { opacity: 0; transform: scale(2) rotate(35deg); margin-top: 4px; }
}

@keyframes dust2
{
	0% { opacity: 0.2; }
	30% { opacity: 1; }
	100% { opacity: 0; }
}


#bar1,
#bar2
{
	position: fixed;
	left: 0;
	right: 0;
	height: 0;
	background: #000;
	transition: height 0.5s;
}

#bar1
{
	top: 0;
}

#bar2
{
	bottom: 0;
}

#bar1.visible,
#bar2.visible
{
	height: 20vh;
}

.speak
{
	opacity: 0;
	border: 0.5rem solid #333;
	width: 60vw;
	background: #000c;
	position: fixed;
	left: 10vw;
	color: #fff;
	font-size: 1rem;
	transition: opacity 0.15s;
}

.speak-visible
{
	opacity: 1;
}

.portrait
{
	width: 5rem;
	height: 5rem;
	float: left;
	background: #333;
}

.message
{
	float: left;
	padding: 0.5rem;
}

.name
{
	color: #333;
	font-weight: bold;
}

#speak1
{
	top: 5rem;
	left: 10vw;
}

#speak2
{
	bottom: 5rem;
	left: 30vw;
}

#speak2
{
	border-color: #eb2436;
}

#speak2 .portrait
{
	background: #eb2436;
}

#speak2 .name
{
	color: #eb2436;
}

#a0,
#a1
{
	background: #3334;
	padding: 0.5em;
	font-size: 1rem;
	position: fixed;
	color: #bbb;
	bottom: 1em;
	width: 20vw;
	left: 28vw;
}

#a1
{
	left: 52vw;
}

#d
{
	position: absolute;
	transform-style: preserve-3d;
	width: 200px;
	height: 120px;
}

.floor
{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-180px) rotateX(90deg) translateY(360px); /* translateZ(_floorHeight / 2 * _zoom) ... translateY(_floorHeight * _zoom)  */
	opacity: 0.8;
}

.o
{
	position: absolute;
	transition: transform 0.1s;
}

.player-body-front
{
	width: 40px;
	height: 72px;
}

.player-body-back
{
	width: 40px;
	height: 72px;
}

.dust
{
	width: 16px;
	height: 16px;
	animation: dust1 0.4s;
}

.g,
.h,
.k
{
	display: none;
	border: 0.2em #333 solid;
	border-radius: 0.2em;
	background: #333;
	color: #fff;
	margin-right: 0.2em;
	font-weight: bold;
}

body.ag .g,
body.ah .h,
body.ak .k
{
	display: inline;
}

.g1
{
	background: #0c2;
	border-color: #0c2;
}
.g2
{
	background: #c00;
	border-color: #c00;
}
.h1
{
	color: #9ae;
}
.h2
{
	color: #f66;
}