html
{
	font-family: bahnschrift, sans-serif;
	font-stretch: semi-condensed;
	font-size: 2.5vh;
}

body
{
	background: #e22;
	color: #999;
	overflow: hidden;
}

*
{
	image-rendering: pixelated;
	cursor: default;
}

b
{
	color: #fff;
}

#bar1,
#bar2
{
	position: fixed;
	left: 0;
	right: 0;
	height: 0;
	background: #000;
	transition: height 0.5s;
}

#bar1
{
	top: 0;
}

#bar2
{
	bottom: 0;
}

#bar1.visible,
#bar2.visible
{
	height: 20vh;
}

.speak
{
	position: fixed;
	left: 10vw;
	width: 60vw;
	font-family: bahnschrift, arial;
	background: #000e;
	color: #fff;
	opacity: 0;
	border: 0.5rem solid #24c;
	font-size: 1rem;
	transition: opacity 0.15s;
}

.speak-visible
{
	opacity: 1;
}

.portrait
{
	width: 5rem;
	height: 5rem;
	float: left;
	background: #24c;
}

.message
{
	float: left;
	padding: 0.5rem;
}

.name
{
	color: #24c;
	font-weight: bold;
}

#speak1
{
	top: 5rem;
	left: 10vw;
}

#speak2
{
	bottom: 5rem;
	left: 30vw;
}

#speak2
{
	border-color: #eb2436;
}

#speak2 .portrait
{
	background: #eb2436;
}

#speak2 .name
{
	color: #eb2436;
}

#a0,
#a1,
#a2,
#description,
#recipe,
#status
{
	position: fixed;
	background: #1119;
	color: #bbb;
	padding: 0.5em;
	font-size: 1rem;
}

#description
{
	top: 1rem;
	left: 25vw;
	right: 25vw;
	font-size: 0.75rem;
}

#a0,
#a1,
#a2
{
	bottom: 1rem;
	left: 10vw;
	width: 20vw;
	display: block;
}

#a1
{
	left: 40vw;
}

#a2
{
	left: 70vw;
}

#d
{
	position: absolute;
	background: #fff3;
}

#d,
#d *
{
	transform-style: preserve-3d;
}

#l0
{
	position: absolute;
	top: 0;
	left: 0;
	width: 4000px;
	height: 2000px;
	transform: translateY(-820px) rotateX(90deg) translateY(-500px) translateX(-1500px);
	background: #ff04;
}
#l1,
#l2,
#l3
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#l1
{
	/* lava_optimized.png */
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAgMAAADwXCcuAAAACVBMVEXcQwv75mL/jgCGM68cAAAAMElEQVQI12NgERRgSNRQYFBwa2AQVFBg6HCawMAi0sAg4eHA0KS4gEHMVYEhScUBAICSBxxSNRNRAAAAAElFTkSuQmCC");
	background-size: 40px 40px;
	animation: l1 7s linear infinite;
}

#l2
{
	/* rocks_optimized.png */
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWAgMAAAC52oSoAAAADFBMVEUAAABKFxFhIBGsSh4DteyuAAAAAXRSTlMAQObYZgAAAKVJREFUCNdjWMq2KpM1gSGVNWopbwBDOG/UcuYAhhjmq1MEPjB8TDGdIsrAwJjKHyMawOCY5vBhWQBDcFQoY+YChinXwlmXTmBYalkjtmoCw0pfB1OgXGbyUd6sAIaoKayTbxUwLE2RnGJ6gGFuhFgoPwND8Z2opQEMDAcMV61a4MAgyZiVGRjAECm4NLJwAkO64PRIV6CZknNuhi1gWKI1xT4qAADvZzNerS3tjAAAAABJRU5ErkJggg==");
	background-size: 88px 88px;
}

#l3
{
	/* fog */
	background: linear-gradient(0deg, #f004 0%, #c119 30%, #e22 75%);
}

#floor
{
	position: absolute;
	width: 600px;
	height: 360px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAADFBMVEVAODcxKSgiHBs2Ly64bcvJAAAALElEQVQI12Ng4GBgYDAD4qsNDMyhCQy8oREMpqFhDFNDQ0E0iA8SB8mD1AEAxLQJAlfy5rwAAAAASUVORK5CYII=");
	background-size: 24px 24px;
	transform: translateY(1500px) translateX(1500px);
}

.o
{
	position: absolute;
	transition: transform 0.1s;
}

.o div
{
	position: absolute;
}

.g,
.h,
.k
{
	font-weight: bold;
	background: #333;
	color: #fff;
	border: 0.2em #333 solid;
	border-radius: 0.2em;
	margin-right: 0.2em;
	display: none;
}

body.ag .g,
body.ah .h,
body.ak .k
{
	display: inline;
}

.g0
{
	background: #0c2;
	border-color: #0c2;
}
.g1
{
	background: #c00;
	border-color: #c00;
}
.h0
{
	color: #9ae;
}
.h1
{
	color: #f66;
}

.box,
.box2
{
	background: #fff1;
	padding: 0.1rem 0.25rem;
	margin: 0.2rem 0;
	border-left: 0.2rem solid #fff4;
}

.box2
{
	color: #ff0;
	border-left-color: #ff04;
}

.c1
{
	position: relative;
	top: -25px;
	left: -35px;
	width: 100px;
	font-size: 0.75rem;
	color: #fff;
	text-align: center;
	z-index: 50000;
}

/* box parts */
.bl { transform: rotateY(-90deg) translateZ(15px); }
.bt { transform: rotateX(90deg) translateZ(15px); }
.br { transform: rotateY(90deg) translateZ(15px); }
.bf { transform: translateZ(15px); }

#recipe
{
	top: 1rem;
	left: 3vw;
	width: 17vw;
}

#status
{
	top: 1rem;
	right: 3vw;
	width: 17vw;
}

#overlay,
#overlay-bg
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000c;
	transition: all 0.2s;
	display: none;
}


#title,
#menu,
#start,
#bonus
{
	text-align: center;
	margin: 4rem auto;
}

#title b
{
	font-size: 2.5rem;
}

#menu
{
	width: 15rem;
	background: #1119;
	padding: 0.5rem;
	color: #888;
	list-style: none;
}

#menu li
{
	padding: 0.5rem;
	transition: color 0.2s, background 0.2s;
}

#menu li:hover
{
	background: #4448;
	color: #fff;
}

#start
{
	display: none;
}

#bonus
{
	background: #fc02;
	padding: 0.5rem;
}

body.w #overlay-bg
{
	background: #000;
	display: block;
}

body.w #overlay
{
	background: #0000;
	display: block;
}

body.w #start
{
	display: block;
}

body.w #menu
{
	display: none;
}

.link
{
	cursor: pointer;
	text-decoration: underline;
}

@keyframes dust2
{
	0% { opacity: 0.2; }
	30% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes a3
{
	0% { opacity: 0; margin-top: -20px; }
	10% { opacity: 1; margin-top: -30px; }
	90% { opacity: 1; margin-top: -30px; }
	100% { opacity: 0; margin-top: -60px; }
}

@keyframes l1
{
	0% { background-position: 0 0; }
	100% { background-position: 80px 40px; }
}
